.p-center{
    width: 100%;
    height: 600px;
    /* margin: auto; */
}

h2{
    
}

.mainBanner{
    position: fixed;
    z-index: 999;
    margin-left: 35%;
    top: 20%;
    min-height: 1px;
    padding-left: 16px;
    padding-right: 16px;
    /* margin-bottom: 150px; */

}

.img-detail{
    border-radius: 20%;
}

.card-body{
    border-style: none;
}

.exrate{
      float: left;
}

.logo{
    display: inline;
    height: 100%;

}

.skysize{
    height: 80px;
}

a{
    font-size: 20px;
}

.navcolor{
    background: #CBD7D7;
}

.sticky-top{
    background: white;
}

.ui-menu .ui-menu-item a,.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
	text-align:left;
	font-size:14px;
	}
/* .ui-autocomplete-loading { background: white url("/images/ui-anim_basic_16x16.gif") right center no-repeat; } */

.size{
    width: 40%;
}

#pic{
    background-image: url(../img/plane-841441_1920.jpg);
    height: 700px;
    background-position: center;
   }